*, *::before, *::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: var(--ff-main);
  color: #fff;
  background-color: black;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1150px;
  margin-inline: auto;
  padding-inline: 20px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* sticky footer */
.site-main {
  flex-grow: 1;
}

.site-header{
  padding-block: 30px;
}

.site-logo{
  color: #fff;
}

.header-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list{
  display: flex;
  gap: 1rem;
}

.nav-link{
  color: #fff;
}

.nav-link.active{
  text-decoration: underline;
}

.characters{
    padding-block: 50px;
}

.characters-title{
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 50px;
    text-align: center;
}
.search-form{
  width: 100%;
}
.search-input{
  display: block;
  width: 50%;
  margin: 0 auto;
}

.character-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,280px));
    gap: 2rem 1rem;
    justify-content: center;
    margin-bottom: 50px;
}

.character-item{
    text-align: center;
    border-radius: 10px;
    background-color: gray;
    overflow: hidden;
    cursor: pointer;
}

.pagination-btns{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.pagination-btns button{
  padding: .5rem 2rem;
  border: 1px solid transparent;
  color: #fff;
  border-radius: 10px;
  font-size: 14px;
  background-color: crimson;
  cursor: pointer;
}

.episode-info{
  display: grid;
  place-content: center;
  text-align: center;
}

.episode-info h3{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  color: green;
}

.episode-info p{
  margin-bottom: 2rem;
  padding: 0.5rem;
  background-color: crimson;
}

select{
  display: block;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 2rem;
  border: 1px solid transparent;
  background-color: #fff;
  border-radius: 8px;
}

.d-flex{
  display: flex;
}

.gap{
  gap: 1rem;
}